p, h1, h2, h3, h4, h5, h6, ul, ol, dl, pre {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Hoefler Text", serif;
}

body {
    background-color: #fafafa;
    color: #111;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 23px;
}

pre,code {
    font: normal 15px/20px Menlo, consolas, mono;
}

pre {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 15px 20px;
    overflow-x: auto;
}

code {
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 0px 4px;
}

a {
    text-decoration: none;
    color: #D63500;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: none;
    color: #D63500;
}

a:hover {
    text-decoration: underline;
}

dd {
    margin-bottom: 10px;
}

dl:first-of-type dd {
    margin-bottom: 0;
}